@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    transition: background 0.5s linear, color 0.5s linear;
}
p{
    text-align: center;
    padding: 3rem;
}
body.dark{
    background-color: black;
    color: white;
    transition: background 0.5s linear, color 0.5s linear;
}
.toggle-container{
    position: fixed;
    top: 10px;
    right: 10px;
}
label{
    cursor:pointer;
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    height: 50px;
    width: 50px;
    user-select: none;
    transition: transform 0.1s linear;
}
label:hover{
    transition: transform 0.1s linear;
    transform: scale(0.9);
}
label.dark{
    background-color: white;
}
input{
    visibility: hidden;
}