*{
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
button{
    background-color: rebeccapurple;
    color: white;
    border: none;
    padding: 9px;
    border-radius: 3px;
    font-family: inherit;
    cursor: pointer;
}
.popup-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup-container.active{
    display:flex;
}
.popup {
    background-color: #fff;
    padding: 1rem;
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}
.popup button {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
}